<header class="header">
    <div class="contenedor contenido-header">
        <div class="imagen-header">
            <picture>
                <source
                    sizes="1920w" 
                    srcset="assets/img/header.avif 1920w" 
                    type="image/avif">
                <source
                    sizes="1920w" 
                    srcset="assets/img/header.webp 1920w" 
                    type="image/webp">
                <source
                    sizes="1920w" 
                    srcset="assets/img/header.jpg 1920w" 
                    type="image/jpeg">
                <img loading="lazy" decoding="async" src="assets/img/header.png" lazyalt="imagen" width="1000" height="600">
            </picture>
        </div>
        <div class="texto-header">
            <p class="tagline-producto">Sonido profesional</p>
            <h1 class="nombre-producto degradado-verde">TechPRO</h1>
            <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam delectus molestias eveniet, adipisci, a vitae eos deleniti voluptates alias aperiam deserunt pariatur, labore accusamus minima facere fugiat ut cum illum.</p>
            <p class="precio-producto">Desde <span>$299</span></p>
        </div>
    </div>
</header>

