<main class="contenedor modelos">
    <h2 class="text-center degradado-verde header-modelos">Elige tus TechPRO</h2>
    <div class="listado-modelos">
        <div class="modelo modelo-x">
            <h3>TechPRO X</h3>
            <p class="precio">$299</p>
        </div>
        <div class="modelo modelo-y">
            <h3>TechPRO Y</h3>
            <p class="precio">$399</p>
        </div>
        <div class="modelo modelo-z">
            <h3>TechPRO Z</h3>
            <p class="precio">$499</p>
        </div>
    </div>
</main>
