.newsletter{
 background-image: linear-gradient( to bottom, transparent 50%, var(--blanco) 0% ), url(../../assets/img/newsletter.jpg);
 background-position: top center;
 background-repeat: no-repeat;
 background-size: 100%, 70rem;
 margin-top: var(--separacion);
}
@media (min-width: 768px) {
    .newsletter{
        background-image: linear-gradient( to right, transparent 50%, var(--blanco) 0% ), url(../../assets/img/newsletter.jpg);
        background-position: center, -21rem 0rem;
        background-size: 100%, 100rem;
        padding: 10rem 0;
    }
}
@media (min-width: 2200px) {
    .newsletter{
        background-position: center, 0rem -30rem;
        background-size: 100%, 200rem;    
    }
}
.contenido-newsletter{
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    gap: var(--separacion);
}
@media (min-width: 768px) {
    .contenido-newsletter{
        grid-template-rows: unset;
        grid-template-columns: repeat( 2, 1fr );
    }
}
.texto-newsletter{
    grid-row: 2/3;
}
@media (min-width: 768px) {
    .texto-newsletter{
        grid-row: unset;
        grid-column: 2 / 3;
    }
}
.formulario input[type="text"]{
    width: 100%;
    padding: 1rem;
}
.formulario input[type="submit"]{
    width: 100%;
    padding: 2rem;  
    background-color: var(--primario);
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    border: none;
}