<section class="newsletter">
    <div class="contenido-newsletter contenedor">
        <div class="texto-newsletter">
            <h2>Recibe Actualizaciones</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis modi, excepturi id, dicta voluptatum vitae hic officiis doloribus accusantium, fuga odio quos commodi omnis alias et amet ab necessitatibus placeat</p>
            <form action="" class="formulario">
                <div class="input">
                    <input type="text" placeholder="Tu email">
                    <input type="submit" value="Inscribirme">
                </div>
            </form>
        </div>
    </div>
</section>
