<section class="contenedor">
    <div class="iconos">
        <div class="icono">
            <img src="../../assets/img/icono-sonido.svg" alt="imagen icono">
            <h3>Gran Sonido</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis laboriosam repellendus impedit facilis iste cupiditate corporis optio iure? Dolor et nam accusantium aperiam, similique assumenda laboriosam commodi vero accusamus nulla.
            </p>
        </div>
        <div class="icono">
            <img src="../../assets/img/icono-garantia.svg" alt="imagen icono">
            <h3>Garantía de por vida</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis laboriosam repellendus impedit facilis iste cupiditate corporis optio iure? Dolor et nam accusantium aperiam, similique assumenda laboriosam commodi vero accusamus nulla.
            </p>
        </div>
        <div class="icono">
            <img src="../../assets/img/icono-bateria.svg" alt="imagen icono">
            <h3>+20 horas de batería</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis laboriosam repellendus impedit facilis iste cupiditate corporis optio iure? Dolor et nam accusantium aperiam, similique assumenda laboriosam commodi vero accusamus nulla.
            </p>
        </div>
    </div>
</section>
