.iconos {
    padding: var(--separacion) 0;
}
@media (min-width: 768px) {
    .iconos {
        display: flex;
        gap: 2rem;
    }
}

.icono {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    margin-bottom: calc( var(--separacion)/2 );
}
.icono:last-of-type {
    margin: 0;
}
@media (min-width: 768px) {
    .icono{
        margin: 0;
    }   
}
.icono img{
    margin: 0 auto;
    width: 5rem;
}
.icono h3{
    color: var(--primario);
    text-transform: uppercase;
    margin-top: calc( var(--separacion)/2 );
}